
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  <style>
    .navbar-custom {
      background-color: #0072b1;
    }
    .navbar-custom .nav-link {
      color: #ffffff;
    }
    .navbar-custom .nav-link:hover {
      color: #cccccc;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-custom">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/logo.png" alt="Logo" class="logo-img" style="width: 50px; height: auto;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/{{ site.github_username }}" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    {{ content }}
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
